@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@heroui/styles";

@import "../styles/tokens.css";
@import "../styles/foundation.css";
@import "../styles/themes/light.css";
@import "../styles/themes/dark.css";
html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

@utility grid-pattern {
  background-size: 40px 40px;

  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}
@utility grid-pattern-accent {
  background-size: 40px 40px;

  background-image:
    linear-gradient(to right, var(--accent) 1px, transparent 1px),
    linear-gradient(to bottom, var(--accent) 1px, transparent 1px);
}

@utility curved-bottom {
  clip-path: circle(72% at 50% 160%);
}

.section-header {
  @apply px-3 py-1 text-xs font-bold tracking-widest text-gray-500 uppercase bg-gray-50 border border-gray-200 rounded-full;
}
