@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-secondary: #d1ddcc;

  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-muted: var(--muted);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  --color-link: var(--link);
}
